
<div class="card w-60">
  <div class="card-body">
    <h5 class="card-header"> <%= @article.title %></h5>
    <p class="card-text mt-1"><%= @article.body %></p>
    
    <% if @article.user.id == Current.user.id %>
      <div class="text-center">
      <div class="card-footer">
        <%= link_to "Edit Post", edit_article_path(@article),class:"btn btn-primary" %>
        <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class:"btn btn-danger" %>
        </div>
        </div>
    <% end %>
  </div>
</div>


<%if @article.comments.length > 0 %>
<div class="card w-60 mt-3 mb-3">
  <div class="card-body">
    <h5 class="card-header mt-3">Comment</h5>
    <p class="card-text mt-1"><%= render @article.comments %></p>
  </div>
</div>
<% end %>


<h5>Add a comment:</h5>
<%= render 'comments/form' %>
