
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card signcard">
        <ul class="nav nav-pills mb-3" id="loginCard">
            <li class="nav-item text-center">
                <%= link_to "Sign In",sign_in_path, class:"nav-link signin"%>
            </li>
            <li class="nav-item text-center">
                <%= link_to "Sign up",sign_up_path,class:"nav-link active signup"%>
            </li>    
        </ul>

        <div class="form px-4 pt-5">
            <h1>Sign up</h1>
            <%= form_with model: @user, url: sign_up_path do |form| %>
                <% if @user.errors.any? %>
                    <div class="alert alert-danger">
                    <% form.object.errors.full_messages.each do |msg| %>
                        <%puts msg%>
                        <div>
                            <%flash[:alert]= msg %>
                        </div>
                    <%end%>
                    </div>
                 <%end%> 
            <div class="mb-3">
                <%=form.label :email %>
                <%= form.text_field :email, class:"form-control" %>
            </div>

            <div class="mb-3">
                <%=form.label :password %>
                <%= form.password_field :password, class:"form-control" %>
            </div>

            <div class="mb-3">
                <%=form.label :confirm_password %>
                <%= form.password_field :password_confirmation, class:"form-control",id:"confirm_password" %>
            </div>

            <div class="mb-3">
                <%= form.submit class:"btn btn-dark" %>
            </div>
            <%end%>
        </div>
    </div> 
</div>

